{
    "DAILY_REWARD_XP": 10,
    "HOUR_ACTIVITY_REWARD_XP": 1,

    "TEXTFILE_USER_MENTION": "#USER#",
    "TEXTFILE_BOT_MENTION": "#BOT#",
    "TEXTFILE_CMD_PREFIX_MENTION": "#CMDPREFIX#",

    "SRV_DEFAULT_BOT_TEXT_CHANNEL_NAME": "bot",
    "SRV_DEFAULT_LOGS_TEXT_CHANNEL_NAME": "logs",
    "SRV_DEFAULT_CMD_PREFIX_NAME": "!!",
    "SRV_DEFAULT_DISPLAY_ADMIN_LOGS": 1,
    "SRV_DEFAULT_LANG": "en",
    "SRV_DEFAULT_USE_ACCEPT_COMMAND": 0,
    "SRV_DEFAULT_ACCEPT_RANK": "Member"
}
